/* change the background color */
.navbar-custom {
    background-color: #292727;
}

/* change the brand and text color */
.navbar-custom .navbar-brand{
    color: rgb(255, 255, 255);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

@media (max-width: 1000px){
      .username {
          display: none;
      }
}