body{
    font-family: 'Raleway', sans-serif;
}

#map{
  top:0;
  bottom: 0;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

.edit-link{
    color: rgba(0, 0, 0, 0.651);
}

.edit-button{
  border: none;
  text-decoration: none;
  float: right; 
  color: rgb(42, 42, 42);
}

.review-time{
    font-size: small;
    opacity: 0.8;
}

.edit-form-delete{
  position: relative;
  right: 12px;
}

.align-checkbox{
  position: relative;
  top: 85px;
  right: 120px;
}

.custom-btn:hover{
  background-color: #292727;
  color: #fff;
}