body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(240, 238, 238);
}

.edit-link{
    color: rgba(0, 0, 0, 0.651);
}

.edit-button{
  border: none;
  text-decoration: none;
  float: right; 
  color: rgb(42, 42, 42);
}

.review-time{
    font-size: small;
    opacity: 0.8;
}